@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --body-backgorund: #262731;
  --btn-footer-background: #313341;
  --discuss-btn: #2D76F9;
}

input {
  background-color: var(--body-backgorund);
  color: white;
  border: none;
  outline: none;
  font-family: "FiraSans";
  padding: 5px 10px;
}

textarea {
  background-color: var(--body-backgorund);
  color: white;
  border: none;
  outline: none;
  font-family: "FiraSans";
  padding: 5px 10px;
  resize: none;
  overflow: hidden;
}

fieldset {
  background-color: var(--body-backgorund);
  padding: 5px 10px;
  border-radius: 8px;
}

.container {
  --base-padding-x: max(18vw, 50px);
  margin: 0 auto;
  padding: 0 var(--base-padding-x);
}

header, body, footer {
  font-family: "FiraSans";
  background-color: var(--body-backgorund);
  color: white;
  font-size: 18px;
}

.picture {
  margin-right: 5vw;
}

header {
  height: max(12vh, 150px);
  padding-top: max(6vh, 50px);
}

footer {
  background-color: var(--btn-footer-background);
}

.upline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  /* С расстояниями между надписями беда + все едет, если уменьшить размер окна */
}
.upline nav {
  padding-top: 3px;
}
.upline__active {
  flex-grow: 0.3;
}

.subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}
.subtitle__case {
  color: rgba(255, 255, 255, 0.7);
  display: inline;
}

.title {
  margin-top: max(12vh, 70px);
  font-family: "FiraSansBold";
  font-size: 48px;
}

.buttons-list {
  margin-top: max(7vh, 50px);
  display: flex;
  justify-content: space-between;
}
.buttons-list__button {
  padding: 10px 30px;
  font-family: "FiraSans";
  color: white;
  font-size: 24px;
  background: var(--btn-footer-background);
  border: 0;
  border-radius: 7px;
  box-shadow: 8px 15px 29px rgba(23, 27, 44, 0.4117647059);
}

.pictograms-list {
  margin-top: max(6vh, 50px);
  gap: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.pictograms-list__picture {
  border-radius: 12px;
}

.feedback {
  min-width: max(100%, 665px);
  margin-top: max(7vh, 70px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 55px;
  margin-bottom: 15px;
}

.inp {
  width: 100%;
}

.message {
  width: max(100%, 665px);
  height: 100px;
}
.message .msg_inp {
  height: 100%;
}

.consent {
  display: none;
}

.consent-vissible {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1.5px solid #EFF3FF;
  margin-top: 30px;
  border-radius: 2px;
}

.discuss {
  display: block;
  margin: auto;
  font-family: "FiraSans";
  color: white;
  font-size: 18px;
  padding: 20px 45px;
  background-color: var(--discuss-btn);
  border: 0;
  border-radius: 85px;
  width: 250px;
}

@font-face {
  font-family: FiraSans;
  src: url(fonts/firasanscondensed/FiraSansCondensed-Light.otf);
}
@font-face {
  font-family: FiraSansBold;
  src: url(fonts/firasanscondensed/FiraSansCondensed-Bold.otf);
}/*# sourceMappingURL=index.css.map */